body {
    font-family: sans-serif;
}

.biography{
    background-color: peachpuff;
    width: 75%;
   padding: 1rem 2rem;
   line-height: 1.6;
}

.summary {
    background-color: lightcoral;
    display: inline-block;
    
}
.container {
    display:flex;
}

.summary-table {
    border: 1px solid ;
}