body {
    font-family: sans-serif;
}

.firstHeading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.25em;
    line-height: 1.3;
    font-weight: bold;
}
.biography{
    width: 75%;
   padding: 1rem 2rem;
   line-height: 1.6;
}

.summary {
    display: inline-block;
}
.container {
    display:flex;
}
.summary-table {
    border: 1px solid gray ;
    background-color: #f9f9f9;
    padding: 1px;
    font-size: 14px;
}

.summary-table thead th{
    background-color: #B4BBC8;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    font-size: 18px;
}

/* ejemplo de como modificar un hijo con css*/
.summary-table tbody tr:first-child {
    text-align: center;
}

.info {
    font-size: 18px;
}